@use 'NavAndFooter';
body{
    header{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../Images/71682047-summer-holiday-background-travel-and-vacation-items-on-wooden-table-top-view.jpg");
    }
    main{

    }
    footer{

    }
}