@use 'NavAndFooter';
$fontsize: 16px;
body{
    header{
        padding: 200px 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../Images/71682047-summer-holiday-background-travel-and-vacation-items-on-wooden-table-top-view.jpg");
        div{
            padding: 50px 10px;
            background-color: white;
            width: 35%;
            margin-left: 10%;
            border-radius: 50px;
            border-width: 3px;
            border-color: black;
            h1{
                font-size: $fontsize*3;
                font-weight: 500;
            }
            h2{
                font-size: $fontsize*2;
            }
        }
    }
    main{
        display: flex;
        width: 80%;
        margin: auto;
        img{
            width: 25%;
        }
    }
}